h2 {
  text-align: center;
  text-decoration: none;
  border: none;
  width: -webkit-fill-available;
  color: #ccc;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.add-recipe {
  width:100%;
  padding: 5px;
  background: #181818;
  margin: 0px;
  border: none;
  z-index: 10000;
  background-color: rgb(56, 56, 56);
  color: #ccc;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ready-recipe {
  width:100%;
  position: sticky;
  top:0px;
  padding: 5px;
  background: #308325;
  margin: 0px;
  border: none;
  z-index: 10000;
  padding-top: 14px;
  color: #ccc;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.item-image {
  width:100%;
  height:100%;
}

.item-text {
    height: -webkit-fill-available;
    width: 100%;
    height:15px;
    text-align: center;
    font-weight: bold;
    color: #ccc;
    font-family: cursive;
    text-transform: uppercase;
    font-size: 12px;
}

.example-container {
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
    height: inherit;
    position: relative;
  }
  
.example-list {
    /*
    min-height: 150px;
    background: #4b1e8382;
    border-radius: 4px;
    overflow-Y: scroll;
    overflow-X: hidden;
    display: block;
    width: 150px;
    height: inherit;*/
    min-height: 150px;
    background: #0000000d;
    border-radius: 4px;
    overflow-Y: scroll;
    overflow-X: hidden;
    display: block;
    width: 336px;
    height: inherit;
    width:100%;
  }
  
.example-box {
    padding: 20px 10px;
    color: rgba(0, 0, 0, 0.87);
    width: 150px !important;
    height: 165px !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
   
    font-size: 14px;
    background-color: rgb(56, 56, 56);

    display: inline-block !important;
    vertical-align: top;
   
    border-radius: 4px;
    padding: 1rem;  
    line-height: 1.4;
  
    margin-left: 14px;
    margin-right: 1rem;
    margin-bottom: 1rem;
 
  }

  .option-box {
    padding: 20px 10px;
    color: rgba(0, 0, 0, 0.87);
    width: 150px !important;
    height: 165px !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
   
    font-size: 14px;
    background-color: rgb(56, 56, 56);

    display: inline-block !important;
    vertical-align: top;
   
    border-radius: 4px;
    padding: 1rem;  
    line-height: 1.4;
  
    margin-left: 10px !important;
    margin-bottom: 1rem;
 
  }
  
  .recipe-box {
    padding: 20px 10px;
    color: rgba(0, 0, 0, 0.87);
    width: 135px;
    height: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
   
    font-size: 14px;
    background-color: rgb(56, 56, 56);

    display: inline-block;
    vertical-align: top;
   
    border-radius: 4px;
    padding: 1rem;  
    line-height: 1.4;
  
    margin-left: 10px;
    margin-right: 1rem;
    margin-bottom: 1rem;
 
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  * { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */

.group 			  { 
  position:relative; 
  margin-bottom:45px; 
  margin-left: 15px;
  margin-top: 15px;
}

input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  background: transparent;
}

input:focus { 
  outline:none; 
}

/* LABEL ======================================= */
label {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar { 
  position:relative; 
  display:block; 
  width:300px; 
}

.bar:before, .bar:after {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

