<div style="display: flex; width:100%; margin-bottom:10px; overflow: hidden;" [style.height.px]="myInnerHeight" cdkDropListGroup>
	<div class="example-container">
		<h2 (click)="doneDisplay = 'block'; openRecipes()">Hay</h2>

		<div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
			<div class="example-box" *ngFor="let item of todo" [cdkDragStartDelay]="(isHandset$ | async) ? 75 : 0" cdkDrag>
				<span class="item-text">
					{{item}}
				</span>
				<img class="item-image" src="/assets/img/{{item}}.png">
			</div>
		</div>
	</div>

	<div [style.display]="doneDisplay" class="example-container">
		<h2 (click)="doneDisplay = 'none'">Falta</h2>

		<div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
			<div class="example-box" *ngFor="let item of done" [cdkDragStartDelay]="(isHandset$ | async) ? 75 : 0" cdkDrag>
				<span class="item-text">
					{{item}}
				</span>
				<img class="item-image" src="/assets/img/{{item}}.png">
			</div>
		</div>
	</div>
</div>
<div [style.height.px]="50" (click)="create()" class="btn add-recipe">
	Agregar Nueva
</div>