<div routerLink="/" [style.height.px]="50" class="btn ready-recipe">Volver</div>

<h2>{{selected.name}}</h2>

<mat-accordion>

    <mat-expansion-panel [expanded]="true" style="max-height: 300px;overflow: scroll;">

        <mat-expansion-panel-header style="position: sticky;">

            <mat-panel-title>Description</mat-panel-title>

        </mat-expansion-panel-header>

        <div (click)="saveDescription()" [style.height.px]="50" class="btn ready-recipe">Listo</div>

        <textarea style="width: 100%;height: 200px;" #description>{{selected.description}}</textarea>

    </mat-expansion-panel>

    <mat-expansion-panel style="max-height: 200px;overflow: scroll;" *ngFor="let option of selected.options">

        <mat-expansion-panel-header>

            <mat-panel-title>Option</mat-panel-title>

        </mat-expansion-panel-header>

        <div class="example-container">
            <div class="example-list">
                <div class="example-box" *ngFor="let item of option">
                    <span class="item-text">
                        {{item}}
                    </span>
                    <img class="item-image" src="/assets/img/{{item}}.png">
                </div>
            </div>
        </div>

    </mat-expansion-panel>

    <mat-expansion-panel style="max-height: 300px;overflow: scroll;">

        <mat-expansion-panel-header style="position: sticky;">

            <mat-panel-title>Add Option</mat-panel-title>

        </mat-expansion-panel-header>

        <div (click)="addOption()" [style.height.px]="50" class="btn ready-recipe">Listo</div>
        
        <div class="example-container">
        
            <div class="example-list">
     
                <mat-selection-list style="width:100%; margin-right: 15px !important" #foods>

                    <mat-list-option class="option-box" *ngFor="let food of all" [value]="food">
                    
                        <span class="item-text">{{food}}</span>
            
                        <img class="item-image" src="/assets/img/{{food}}.png">
                    
                    </mat-list-option>

                </mat-selection-list>

            </div>
        
        </div>

    </mat-expansion-panel>

</mat-accordion>